# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Node
node_modules/
dist/

# System
.DS_Store

# Data and DB
mongodb_data/
backend.log
*.log
neurotalk_model/
# *.csv

# IDEs
.vscode/
.idea/
